
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<div class="page">
			
			<% include components/top.inc.ejs%>

			<div class="content-wrap">
				this is banners
			</div>
		</div>
		
	</body>
	</html>