<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Administrator Login</title>
  </head>
  <body>
    <div class="login-dialog">
      <form action="/admin/login" method="post">
        user: <input type="text" name="username"/><br>
        password: <input type="password" name="password"/><br>
        <input type="submit" value="login"/>
      </form>
    </div>
  </body>
</html>
