
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>administrator login</title>
	</head>
	<body>
		
		<div class="login-dialog">
			<form action="/admin/login" method='post'>
				username: <input type="text" name="username"><br> 
				password: <input type="password" name="password"><br>
				<input type="submit" value="login">
			</form>
		</div>

	</body>
	</html>