
	<div class="top-wrap">
		<a href="/admin">admin home</a>
		<a href="/admin/banners">banner setting</a>
		<a href="/admin/blog">blog setting</a>
		<a href="/admin/contact">contact setting</a>
		<a href="/admin/custom">custom setting</a>
		<a href="/admin/intro">intro setting</a>
		<a href="/admin/msg">msg setting</a>
		<a href="/admin/news">news setting</a>
	</div>