<div class="top-wrap">
  <a href="/admin/">Admin Setting</a>
  <a href="/admin/banners">Banner Setting</a>
  <a href="/admin/blog">Blog Setting</a>
  <a href="/admin/contact">Contact Setting</a>
  <a href="/admin/custom">Custom Setting</a>
  <a href="/admin/intro">Intro Setting</a>
  <a href="/admin/msg">Message Setting</a>
  <a href="/admin/news">News Setting</a>
</div>
