html
	head
	body
		// -let a = 12;
		// -let b = 18;
		// div the result is #{a+b}

		//- span=a
		//- span=b 

		// -for(var i = 0; i < arr1.length; i++)
		// 	div=arr1[i] 

		// div!=content

		// -let a = 12;
		// -if(a%2 == 0)
		// 	div(style={background:'red'}) even number
		// -else
		// 	div(style={background: 'green'}) odd number

		-let a = 3;
		case a
			when 0
				div aaa
			when 1
				div bbb
			when 2
				div ccc
			default
				div wrong


























