html
	head
		style
		script(src="a.js")
		link(href="a.css",rel="stylesheet")
		script
	body
		a(href="http://google.com") GOOGLE
		div aaa
			ul
				li
					input(type="text",id="text1",value="abc")
				li
				li
		div(style="width:200px;height:300px;background:red")
		div(style = {width: `200px`, height: `200px`, 'background-color': `yellow`})
		div(class="aaa left-wrap active")
		div.box
		div#div1
		div&attributes({title: `aaa`, id: `div2`})
